.calc-row:not(:last-child)
{
	margin-bottom: 10px;
}

#question
{
	margin-top: 50px;
	font-size: 60px;
}

.col-md-2 {
	width: 20%;
	float: left;
}

#answer
{
	margin-top: 30px;
	font-size: 60px;
}

.container
{
	max-width: 700px;
}
